html, body {
	height: 100%;
	font-size: 14px;
}

body {
	font-family: sans-serif;
}

.message-content {
	background: #fbfbfb;
  border-radius: 10px;
  padding: 5px;
}

.message-content span {
	color: #3f3fa0;
}

.column-6 {
	width: 50%;
	float: left;
}

.iframe-content iframe {
	width: 100%; 
	border: none;
	display: block;
	height: 100vh;
}

.disable {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}
